* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F8F2F0;
    padding: 17px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 0px 10px 10px 10px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.card-header p {
    font-style: italic;
}

.card-img img {
    width: 42px;
    height: 42px;
    background-color: #32746D;
    border-radius: 10px;
}
.card-txt {
    border-style: solid none none none;
    border-color: rgba(0, 0, 0, 0.25);
}
.card-txt p {
    margin: 5px;
    font-weight: 100;
    font-size: 12px;
    text-align: justify;
}
.card-txt h2 {
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}