.error {
    color: red;
    text-align: center;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

body {
    background-color: #f8f3f1;
}

form {
    background-color: #32746D;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    color : white;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #32746D;
    color: white;
}
input::placeholder, select::placeholder {
    color: #ccc;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    height: fit-content;
    min-height: 100px;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #32746D;
    color: white;
}
textarea::placeholder, select::placeholder {
    color: #ccc;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.form-group button:hover {
    background: rgb(210,0,193);
    background: linear-gradient(317deg, rgba(210,0,193,1) 0%, rgba(94,45,212,1) 54%, rgba(0,99,255,1) 100%);
    color: white;
}

.form-group input[type="radio"] {
    display: none;
}

label img {
    width: 42px;
    height: 42px;
}

.form-group input[type="radio"] + label img{
    transition: 0.3s;
    background: none;
    border-radius: 32px;
}

.form-group input[type="radio"]:checked + label img{
    transition: 0.3s;
    background: rgb(210,0,193);
    background: linear-gradient(317deg, rgba(210,0,193,1) 0%, rgba(94,45,212,1) 54%, rgba(0,99,255,1) 100%);
    border-radius: 10px;
}

.radio-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-size: medium;
}