* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f3f1;
    width: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-tl {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    width: 30px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

h1 span {
    font-size: 15px;
    font-weight: 100;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 0px 10px 15px 10px;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    font-style: normal;
    color: black;
    text-decoration: none;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.card-header p {
    font-style: italic;
}

.card-img img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.c1 {
    background-color: #32746D;
}
.c2 {
    background-color: #FE654F;
}

.card-txt {
    border-style: solid none none none;
    border-color: rgba(0, 0, 0, 0.25);
}
.card-txt p {
    margin: 5px;
    font-weight: 100;
    font-size: 12px;
    text-align: justify;
}
.card-txt h2 {
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

.center-list-card {
    width: 100%;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.new-entry {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 5px;
}

.no_record {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e6e6e6;
    color: #9a9a9a;
}

.no_record_img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    margin-right: 5px;
}

.today-card {
    background-color: #32746D;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 50px;
}

.today-card h1 {
    margin: 0px 0px 0px 8px;
    padding: 0px;
}

.today-card h1 span{
    font-size: small;
    font-weight: bolder;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}