<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Emotion bubble</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Journal <span>de {{user_name}}</span></h1>
        <nav>
            <ul>
                <li class="boutons-header"><a href="/menu"><img src="{{ url_for('static', filename='assets/report-columns.svg') }}" alt="Bouton direction menu" class="button-tl"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% if today["face"] == None %}
        <div class="today-card">
            <h1><span>Aujourd'hui</span></h1>
            <br>
            <div class="card no_record"><img class="no_record_img" src="{{ url_for('static', filename='assets/memo_3d.png') }}" alt=""><p>Vous n'avez encore rien enregistré pour aujourd'hui</p></div>
            </a>
        </div>
        {% else %}
        <div class="today-card">
            <h1><span>Aujourd'hui</span></h1>
            <br>
            <a class="card" href="/modify?date={{today['date_nf']}}">
                <div class="card-header">
                    <div class="card-img">
                        <img class="c1" src="{{ url_for('static', filename=today['face']) }}" alt="Image ressenti de l'enregistrement">
                        <img class="c1" src="{{ url_for('static', filename=today['weather']) }}" alt="Image météo de l'enregistrement">
                    </div>
                    <p>{{ today["date"] }}</p>
                </div>
                {% if today["title"] != "" or today["text"] != "" %}
                <div class="card-txt">
                    <h2>{{ today["title"] }}</h2>
                    <p>{{ today["text"] }}</p>
                </div>
                {% endif %}
            </a>
        </div>
        {% endif %}

        <div class="center-list-card">
            {% for jour in jours%}
            {% if jour["face"] == None %}
            <div class="card no_record"><img class="no_record_img" src="{{ url_for('static', filename='assets/memo_3d.png') }}" alt=""><p>Pas d'enregistrement pour le {{ jour["date"] }}</p></div>
            {% else %}
            <a class="card" href="/modify?date={{jour['date_nf']}}">
                <div class="card-header">
                    <div class="card-img">
                        <img class="c1" src="{{ url_for('static', filename=jour['face']) }}" alt="Image ressenti de l'enregistrement">
                        <img class="c1" src="{{ url_for('static', filename=jour['weather']) }}" alt="Image météo de l'enregistrement">
                    </div>
                    <p>{{ jour["date"] }}</p>
                </div>
                {% if jour["title"] != "" or jour["text"] != "" %}
                <div class="card-txt">
                    <h2>{{ jour["title"] }}</h2>
                    <p>{{ jour["text"] }}</p>
                </div>
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}            
        </div>
    </main>

    <footer>
        <a href="/new"><img class="new-entry" src="{{ url_for('static', filename='assets/plus-circle.svg') }}" alt="Ajout d'un enregistrement"></a>
    </footer>
</body>
</html>

