<!DOCTYPE html>
<html>
<head>
    <title>Modification d'un enregistrement</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_record.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Modifier l'enregistrement du {{jour['date']}}</h1>
        <a href="/delete_record?date={{jour['date']}}"><img src="{{ url_for('static', filename='assets/bin-full.svg') }}" alt="Bouton supression d'enregistrement" class="button-tl"></a>
    </header>
    <div class="container">
        <p class="error">{{error}}</p>
        <form method="post" action="/modification_post">
            <input type="hidden" name="date" value="{{jour['date']}}">
            <div class="form-group">
                <h2>Comment vous sentez vous ?</h2>
                <div class="radio-list">
                    <div>
                        {% if jour['face'] == '1' %}
                        <input type="radio" id="emotion1" name="face" value="1" required checked>
                        {% else %}
                        <input type="radio" id="emotion1" name="face" value="1" required>
                        {% endif %}
                        <label for="emotion1"><img src="{{ url_for('static', filename='assets/faces/1.png') }}" alt="😁 Très bien"></label>
                    </div>
                    <div>
                        {% if jour['face'] == '2' %}
                        <input type="radio" id="emotion2" name="face" value="2" required checked>
                        {% else %}
                        <input type="radio" id="emotion2" name="face" value="2" required>
                        {% endif %}
                        <label for="emotion2"><img src="{{ url_for('static', filename='assets/faces/2.png') }}" alt="😇 Bien"></label>
                    </div>
                    <div>
                        {% if jour['face'] == '3' %}
                        <input type="radio" id="emotion3" name="face" value="3" required checked>
                        {% else %}
                        <input type="radio" id="emotion3" name="face" value="3" required>
                        {% endif %}
                        <label for="emotion3"><img src="{{ url_for('static', filename='assets/faces/3.png') }}" alt="🥱 Moyen"></label>
                    </div>
                    <div>
                        {% if jour['face'] == '4' %}
                        <input type="radio" id="emotion4" name="face" value="4" required checked>
                        {% else %}
                        <input type="radio" id="emotion4" name="face" value="4" required>
                        {% endif %}
                        <label for="emotion4"><img src="{{ url_for('static', filename='assets/faces/4.png') }}" alt="🥺 Mal"></label>
                    </div>
                    <div>
                        {% if jour['face'] == '5' %}
                        <input type="radio" id="emotion5" name="face" value="5" required checked>
                        {% else %}
                        <input type="radio" id="emotion5" name="face" value="5" required>
                        {% endif %}
                        <label for="emotion5"><img src="{{ url_for('static', filename='assets/faces/5.png') }}" alt="🤬 Très mal"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h2>Quel temps fait-il ?</h2>
                <div class="radio-list">
                    <div>
                        {% if jour['weather'] == 'sunny' %}
                        <input type="radio" id="weather1" name="weather" value="sunny" required checked>
                        {% else %}
                        <input type="radio" id="weather1" name="weather" value="sunny" required>
                        {% endif %}
                        <label for="weather1"><img src="{{ url_for('static', filename='assets/weather/sun_3d.png') }}" alt="☀️ Soleil"></label>
                    </div>
                    <div>
                        {% if jour['weather'] == 'cloudy' %}
                        <input type="radio" id="weather2" name="weather" value="cloudy" required checked>
                        {% else %}
                        <input type="radio" id="weather2" name="weather" value="cloudy" required>
                        {% endif %}
                        <label for="weather2"><img src="{{ url_for('static', filename='assets/weather/cloud_3d.png') }}" alt="☁️ Nuageux"></label>
                    </div>
                    <div>
                        {% if jour['weather'] == 'raining' %}
                        <input type="radio" id="weather3" name="weather" value="raining" required checked>
                        {% else %}
                        <input type="radio" id="weather3" name="weather" value="raining" required>
                        {% endif %}
                        <label for="weather3"><img src="{{ url_for('static', filename='assets/weather/cloud_with_rain_3d.png') }}" alt="🌧️ Pluie"></label>
                    </div>
                    <div>
                        {% if jour['weather'] == 'snowing' %}
                        <input type="radio" id="weather4" name="weather" value="snowing" required checked>
                        {% else %}
                        <input type="radio" id="weather4" name="weather" value="snowing" required>
                        {% endif %}
                        <label for="weather4"><img src="{{ url_for('static', filename='assets/weather/cloud_with_snow_3d.png') }}" alt="🌨️ Neige"></label>
                    </div>
                    <div>
                        {% if jour['weather'] == 'stormy' %}
                        <input type="radio" id="weather5" name="weather" value="stormy" required checked>
                        {% else %}
                        <input type="radio" id="weather5" name="weather" value="stormy" required>
                        {% endif %}
                        <label for="weather5"><img src="{{ url_for('static', filename='assets/weather/cloud_with_lightning_and_rain_3d.png') }}" alt="⛈️ Orage"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h2>Quel titre donner à votre journée ?</h2>
                <input type="text" id="title" name="title" placeholder="Résumé rapide de la journée" value="{{jour['title']}}">
            </div>
            <div class="form-group">
                <h2>Racontez ce que vous avez fait aujourd'hui</h2></br>
                <textarea id="text" name="text" placeholder="Ecrivez ici">{{jour['text']}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</body>
</html>