<!DOCTYPE html>
<html>
<head>
    <title>Consultation d'un enregistrement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Consulter l'enregistrement du {{user['date']}}</h1>
        <a href="/modify?date={{user['date_nf']}}"><img src="{{ url_for('static', filename='assets/page-edit.svg') }}" alt="Bouton modification d'enregistrement" class="button-tl"></a>
    </header>
    <main>
        <div class="today-card">
            <h1><span>Votre enregistrement</span></h1>
            <br>
            <div class="card" href="#">
                <div class="card-header">
                    <div class="card-img">
                        <img class="c1" src="{{ url_for('static', filename=user['face']) }}" alt="Image ressenti de l'enregistrement">
                        <img class="c1" src="{{ url_for('static', filename=user['weather']) }}" alt="Image météo de l'enregistrement">
                    </div>
                    <p>{{ user["date"] }}</p>
                </div>
                {% if user["title"] != "" or user["text"] != "" %}
                <div class="card-txt">
                    <h2>{{ user["title"] }}</h2>
                    <p>{{ user["text"] }}</p>
                </div>
                {% endif %}
            </div>
        </div>

        <h2>Vos amis le {{user['date']}} :</h2>
        <p>Il n'est pas possible de consulter les enregistrements de vos amis pour le moment. Nous travaillons sur cette fonctionnalité.</p>

        <!-- Friends records -->
        <div class="center-list-card">
            <!-- Friends cards -->
        </div>
    </main>
</body>
</html>